[submodule "global-assets"]
	path = global-assets
	url = git@github.com:SWEasabi/global-assets.git
	branch = main
[submodule "2_RTB/documentazione_esterna/analisi-dei-requisiti"]
	path = 2_RTB/documentazione_esterna/analisi-dei-requisiti
	url = git@github.com:SWEasabi/analisi-dei-requisiti
	branch = main
[submodule "2_RTB/documentazione_esterna/piano-di-qualifica"]
	path = 2_RTB/documentazione_esterna/piano-di-qualifica
	url = git@github.com:SWEasabi/piano-di-qualifica
	branch = main
[submodule "2_RTB/documentazione_esterna/piano-di-progetto"]
	path = 2_RTB/documentazione_esterna/piano-di-progetto
	url = git@github.com:SWEasabi/piano-di-progetto
	branch = main
[submodule "2_RTB/documentazione_interna/norme-di-progetto"]
	path = 2_RTB/documentazione_interna/norme-di-progetto
	url = git@github.com:SWEasabi/norme-di-progetto
	branch = main
